<table class="table">
    <thead>
      <tr>
        <th> Name </th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.first_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>