
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="margin-below: 50px">
  <%= link_to "HouseRental", root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <%= link_to "Profile", edit_user_registration_path(current_user.id), :class=>"nav-link"%>
    </ul>
  </div>
</nav>

