
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      You have Recieved a reply for your Inquiry,
    </p>
    <strong>
      Reply: 
      </strong>
    <p> 
      <%= @reply.message %> 
    </p>

    <p>Cheers,</p>
    <p>Real Estate Company</p>
  </body>
</html>