<%= render "partials/navbar" %>

<div class="container">
  <div class="card" style="width: 36rem; margin-top: 50px;" >
    <div class="card-header">
      <h1>New Property</h1>
      </div>
    <div class="card-body">
      <%= render 'form', property: @property %>
    </div>
  </div>
  </div>
</div>

