<%= render "users/shared/navbar" %>

<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <h3>Company</h3>
      <div style="padding-top:30px" class="panel-body" >
          <%= render 'form', company: @company %>
          <%= link_to 'Back', companies_path %>
      </div>
    </div>
  </div>
</div>

